@import "@/assets/scss/_content-section.scss";

.banner-section {
  padding: 0 0 60px 0;
  min-height: $banner-height;

  .banner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2000px;

    .banner {
      margin: 10px;

      .banner-body {
        width: 65px;
        height: 65px;
        border-radius: 10px;
        display: grid;
        justify-items: center;
        align-items: center;

        @media (max-width: $breakpoint-sm) {
          background-color: $white-2;
        }

        &:hover {
          background-color: $white-2;
        }
      }
    }
  }
}
