.card-section {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: $section-height;
  background-color: $white-1;

  .section-title {
    padding: 50px;
    font-size: $font-size-title;
    text-align: center;
  }

  .content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2000px;
  }

  .content-card {
    border-radius: 10px;
    background-color: $white;
    font-size: $font-size-normal;
    margin: 30px;
    padding: 30px;
    max-width: calc(100vw - 100px);
    flex: 0 0 400px;
    display: grid;
    row-gap: 30px;
    grid-template-rows: auto auto minmax(auto, 1fr);
  }

  .content-top {
    font-size: $font-size-sub-title;
    font-weight: bold;
  }

  .content-body {
    padding: 0px 30px;
  }

  @media (max-width: 800px) {
    .content-overflow {
      max-width: 100%;
      overflow-x: auto;
    }
    .content-container {
      flex-wrap: nowrap;
      justify-content: unset;
    }
    .content-container::after,
    .content-container::before {
      content: "";
      padding: 10px;
    }
    .content-card {
      margin: 5px;
    }
    .content-body {
      padding: 0px 20px;
    }
  }
}
